.form-label {
    display: flex;
    flex-direction: column;
}

.form-section {
    display: flex;
    width: 40%;
}

.container {
    display: flex;
    justify-content: space-around;
}

.form-label input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    background-image: none;
    background-clip: padding-box;
    border: none;
    border-radius: 3px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: inherit;
    height: auto;
    color: #111111;
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
     
    }
  }